img{
    border-radius: 10px;
}
h1{
    font-family: 'Fugaz One', cursive;
    color: whitesmoke
    
}
hr{
    background-color: black;
}
p{
    font-family: 'Concert One', cursive;
    color: whitesmoke
}